services:
  postgres:
    image: postgres:15
    container_name: license_management_db
    environment:
      POSTGRES_DB: licensemanagementdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: >
      postgres
      -c listen_addresses='*'
      -c password_encryption=scram-sha-256

volumes:
  postgres_data: